@font-face {
    font-family: "ProximaBold";
    src: url('../ttf/proximanova-bold.ttf') format('truetype'), url('../otf/proximanova-bold.otf') format('opentype');
}

@font-face {
    font-family: "ProximaRegular";
    src: url('../ttf/proximanova-regular.ttf') format('truetype'), url('../otf/proximanova-regular.otf') format('opentype');
}

@font-face {
    font-family: "ProximaLight";
    src: url('../ttf/proximanova-light.ttf') format('truetype'), url('../otf/proximanova-light.otf') format('opentype');
}